body {
	background: #141414 !important;
}

.logo{
	color: red;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 3em;
	font-weight: 800;
}

.title-style{
	color: red;
}

.title-style:hover{
	color: red;
}

.card-container {
	position: relative;
	transition: transform 0.2s;
}

.card-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}



